@import url("/shared/comman.css");
@import url("/shared/header.css");
@import url("/shared/footer.css");

#main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 4fr 1fr;
}

#div-chat {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 8fr 1fr;
    box-sizing: border-box;
    border-right: var(--border-normal) var(--white);
}

#div-chat #messages {
    grid-column: 1/3;
    grid-row: 1/2;
    overflow: auto;
}

#div-chat #messages #message {
    color: var(--white);
    width: 100%;
}

#div-chat #input-message {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 2%;
    border: none;
    color: var(--white);
    font-weight: bold;
    font-size: var(--font-size-normal);
    background: var(--black);
}

#div-chat #button-send {
    grid-column: 2/3;
    grid-row: 2/3;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-normal);
    color: var(--black);
    background: var(--green);
    cursor: pointer;
}

#div-cams {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
}

#div-file {
    grid-column: 3/4;
    grid-row: 1/3;
    box-sizing: border-box;
    border-left: var(--border-normal) var(--white);
}

#div-conn {
    grid-column: 2/3;
    grid-row: 2/3;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    border-top: var(--border-normal) var(--white);
}

#div-cams > video {
    flex: 1;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    margin: 1%;
    border: var(--border-normal) var(--white);
    border-radius: var(--font-size-normal);
    object-fit: cover;
}

#div-conn > button {
    margin: 2% 20%;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-size-normal);
    color: var(--black);
    background: var(--green);
    cursor: pointer;
}

#div-conn > button:disabled {
    color: var(--black);
    background: var(--white);
    cursor: not-allowed;
}

#div-conn > button:active:not(:disabled) {
    scale: 94%;
}


#div-conn > textarea {
    margin: 2%;
    border: none;
    resize: none;
    color: var(--white);
    font-weight: bold;
    font-size: var(--font-size-normal);
    background: var(--black);
}
