@import url("/shared/comman.css");
@import url("/shared/header.css");

#div-main {
    display: flex;
}

#div-chat {
    flex: 1;
    border: var(--border-size) solid var(--white);
    border-radius: var(--font-size-normal);
}

#div-cams {
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
}

#div-file {
    flex: 1;
    border: var(--border-size) solid var(--white);
    border-radius: var(--font-size-normal);
}

#div-cams > video {
    flex: 1;
    max-width: 320px;
    max-height: 240px;
    margin: 1%;
    border: var(--border-size) solid var(--white);
    border-radius: var(--font-size-normal);
    object-fit: cover;
}
