@import url("/shared/comman.css");
@import url("/shared/header.css");

#div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-link-main {
    display: flex;
    box-sizing: border-box;
    border: var(--border-size) solid var(--white);
    min-width: 24%;
    max-width: 100%;
    margin: 2%;
}

.div-link-fav {
    display: flex;
    align-items: center;
    width: 24px;
    aspect-ratio: 1/1;
    margin: 5%;
}

.div-link-name {
    display: flex;
    align-items: center;
    margin: auto;
}