@import url("/shared/comman.css");
@import url("/shared/header.css");

#div-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.a-link {
    margin: 1%;
}