.div-page-blog {
    width: calc( 80vw * 0.8 );
    height: 100%;
    margin: 0px auto;
    padding: var(--font-head) var(--font-head) 0px var(--font-head);
    overflow-y: scroll;
}

.h1-blog-date {
    display: block;
    width: max-content;
    font-size: var(--font-head);
    margin: 0px 0px 2em auto;
}

.p-blog-cont {
    font-size: var(--font-norm);
    margin-top: 1em;
}
