.div-page-blog {
    width: calc( 80vw * 0.8 );
    height: 100%;
    margin: 0px auto;
    padding-left: var(--font-head);
    padding-right: var(--font-head);
    overflow-y: scroll;
}

.h1-blog-date {
    display: block;
    width: max-content;
    font-size: var(--font-head);
    margin: 1em 0px 2em auto;
}

.blog-item {
    margin: 2em auto;
}

.p-blog-cont {
    font-weight: normal;
    font-size: var(--font-norm);
}

.div-blog-image img {
    display: block;
    margin: 0px auto;
    border-radius: 1em;
    object-fit: cover;
}

.div-blog-image a {
    display: block;
    width: max-content;
    margin: 1em auto 0px auto;
}

.div-blog-list {
	width: 80%;
	border: var(--white) solid 2px;
	border-radius: 1em;
}

.div-blog-list > ul {
	width: max-content;
}

.div-blog-list li {
	font-size: var(--font-norm);
	font-weight: normal;
	margin: 1em 0px;
}
