ul {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  margin: 2em 0px;
}

li {
  margin: 1em 2em;
}

.blog-div {
  padding: 0px 1em;
}

.blog-date {
  width: max-content;
  margin: 1em 0px 2em auto;
}

.blog-img {
  margin: 2em 0px;
}

.blog-vid {
  margin: 2em 0px;
}

.blog-div p {
  margin: 2em 0px;
  line-height: 1.5em;
  font-weight: normal;
}

.blog-img > img {
  display: block;
  width: 80%;
  aspect-ratio: 2/1;
  margin: 0px auto;
  object-fit: cover;
  border-radius: 1em;
}

.blog-img > a {
  display: block;
  width: max-content;
  margin: 1em auto 0px auto; 
}

.blog-vid > video {
  display: block;
  width: 80%;
  aspect-ratio: 16/9;
  margin: 0px auto;
  object-fit: cover;
}

.blog-vid > a {
  display: block;
  width: max-content;
  margin: 1em auto 0px auto; 
}
