@import url("/shared/css/root.css");
@import url("/shared/css/nav_tree.css");

body {
  display: flex;
  background-color: var(--background);
  color: var(--white);
  font-family: monospace;
  font-weight: bold;
  font-size: var(--font-norm);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  user-select: none;
}

nav {
  width: 20vw;
  height: 100vh;
  overflow: hidden;
  transition: width 500ms 150ms, opacity 500ms;
}

main {
  flex: 1;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
}

main > div {
  width: 64%;
  height: 100%;
  margin: 0px auto;
  overflow: auto;
}

h1 {
  font-size: var(--font-head);
  margin: 0px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: var(--white);
  transition: color 500ms;
}

#btn-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: var(--font-head);
  padding: 0.5em;
}

.anc-ext::after {
  content: '↗';
}

.anc-ext:hover {
  color: var(--green);
}
