body {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  font-size: var(--fsize-norm);
  font-family: monospace;
  font-weight: bold;
  color: var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-size: var(--fsize-head);
}

figure {
  margin: 0px;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  font-style: italic;
  color: inherit;
}

::selection {
  background: var(--color-fg);
  color: var(--color-bg);
}
