::selection {
  background: var(--color-fg);
  color: var(--color-bg);
}

.border {
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  display: grid;
  grid-template-rows: var(--fsize-norm) var(--fsize-head-b) repeat(10, 1fr) var(--fsize-head-b) var(--fsize-norm);
  grid-template-columns: var(--fsize-norm) repeat(10, 1fr) var(--fsize-norm);
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: var(--color-bg);
  font-family: monospace;
  font-size: var(--fsize-norm);
  color: var(--color-fg);
}

main {
  grid-row: 3 / 13;
  grid-column: 2 / 12;
  border: var(--border);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration-thickness: 2px;
}
