footer {
  display: flex;
  justify-content: space-between;
  grid-row: 13 / 14;
  grid-column: 2 / 12;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

#repo-link-div {
  border-right: var(--border);
  aspect-ratio: 1 / 1;
}

#last-mod-date {
  border-left: var(--border);
}
