footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: min-content;
}

footer p {
  margin-left: auto;
  margin-right: var(--fsize-norm);
  width: min-content;
  height: min-content;
}
