footer {
  display: flex;
  justify-content: space-between;
  grid-row: 13 / 14;
  grid-column: 2 / 12;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

#repo-link-div {
  display: flex;
  border-right: var(--border);
  padding: 0px var(--fsize-norm);
  height: 100%;
  aspect-ratio: 1 / 1;
}

#repo-link-btn {
  margin: auto;
  aspect-ratio: 1 / 1;
  font-size: var(--fsize-head-a);
}

#last-mod-date {
  display: flex;
  align-items: center;
  border-left: var(--border);
  padding: 0px var(--fsize-norm);
  width: max-content;
  height: 100%;
  font-size: var(--fsize-head-a);
}
