header {
  display: flex;
  justify-content: space-between;
  grid-row: 2 / 3;
  grid-column: 2 / 12;
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

#home-btn-div {
  border-right: var(--border);
  aspect-ratio: 1 / 1;
}

#home-btn {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--color-fg);
  transition: transform 500ms;
  cursor: pointer;
}

#home-btn:hover {
  transform: rotate(90deg);
}

#page-title {
  width: 100%;
  font-weight: bold;
}

#theme-switch-div {
  border-left: var(--border);
  aspect-ratio: 1 / 1;
}

#theme-switch-btn {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--color-fg);
  cursor: pointer;
}

#theme-switch-btn:active {
  width: 80%;
}
