figure {
  margin-bottom: var(--fsize-norm);
  width: 60%;
}

figure img {
  display: block;
  object-fit: none;
  border-radius: var(--fsize-norm);
  margin: 0px auto var(--half-f-norm) auto;
  width: 80%;
  height: 50vh;
}

figure figcaption a {
  display: block;
  margin: 0px auto var(--half-f-norm) auto;
  width: min-content;
}

figure figcaption a::before {
  content: '©';
}

/*
  img template

  <figure>
    <img src="" title="">
    <figcaption>
      <a class="anc-ext" href="" target="_blank"></a>
      <a class="anc-ext" href="" target="_blank"></a>
    </figcaption>
  </figure>
*/
