main {
  scroll-behavior: smooth;
  overflow-y: hidden;
  transition: width 500ms 150ms;
  width: 100%;
  height: 100%;
}

main .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

main p {
  white-space: normal;
  width: 60vw;
}

main p,
main figure,
main .video {
  margin-top: var(--gap-head);
  margin-bottom: var(--gap-head);
}
