main {
  scroll-behavior: smooth;
  overflow-y: hidden;
  transition: width 500ms 150ms;
  width: 100%;
  height: 100%;
}

main .main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: calc(100% - var(--fsize-norm) * 2); /* 100% - padding top & bottom*/
  padding: var(--fsize-norm) 0px var(--fsize-norm) 0px;
}

main p {
  white-space: normal;
  margin-bottom: 1em;
  width: 60vw;
}
