.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.nav-menu-title {
  margin-bottom: var(--gap-head);
  margin-left: 20%;
  width: 80%;
}

.nav-menu-index {
  margin-left: 30%;
  width: 60%;
  padding-bottom: var(--gap-norm);
}

.nav-menu-index::after {
  content: '';
  display: block;
  transition: width 500ms;
  width: 0px;
  height: var(--line-width);
  background: var(--color-fg);
}

.nav-menu-index:hover::after {
  width: 100%;
}
