:root {
    --black:      #282c34;
    --red:        #e05252;
    --green:      #43d08a;
    --yellow:     #ebde6b;
    --blue:       #528bff;
    --white:      #abb2bf;
    --background: #1e1e1e;

    --font-head: 16px;
    --font-norm: 14px;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-weight: bold;
    font-family: monospace;
    background: var(--background);
}
