@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: var(--white);
    --color-bg: var(--black-ab);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-fg: var(--black);
    --color-bg: var(--white-ab);
  }
}

:root {
  --black:      #282c34;
  --red:        #e05252;
  --green:      #43d08a;
  --yellow:     #ebde6b;
  --blue:       #528bff;
  --white:      #abb2bf;
  --black-ab:   #000000;
  --white-ab:   #ffffff;

  --fsize-head: 16px;
  --fsize-norm: 14px;

  --half-f-head: calc(var(--fsize-head) / 2);
  --half-f-norm: calc(var(--fsize-norm) / 2);

  --gap-head: var(--fsize-head);
  --gap-norm: var(--fsize-norm);

  --line-width: 2px;
}
