:root {
    --black:      #282c34;
    --red:        #e05252;
    --green:      #43d08a;
    --yellow:     #ebde6b;
    --blue:       #528bff;
    --white:      #abb2bf;
    --background: #1e1e1e;

    --font-head: 16px;
    --font-norm: 14px;
}

body {
    display: flex;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-weight: bold;
    font-family: monospace;
    background: var(--background);
}

h1 {
    margin: 0px;
}

#nav-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
}

#main-main {
    flex: 1;
}

.div-nav-prnt {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 80%;
    height: 80%;
}

.nav-title {
    width: 100%;
    user-select: none;
    font-size: var(--font-head);
    margin-bottom: 10%;
}

.nav-child-ctnr {
    width: 100%;
    overflow-y: scroll;
}

.nav-child {
    display: block;
    width: 80%;
    margin: 0px 0px 5% auto;
    cursor: pointer;
    user-select: none;
    font-size: var(--font-norm);
}

.nav-child::after {
    display: block;
    content: '';
    width: 0px;
    height: 2px;
    background: var(--white);
    transition-property: width;
    transition-duration: 500ms;
}

.nav-child:hover::after {
    width: 100%;
}
