.video {
  width: 60%;
}

.video video {
  display: block;
  border-radius: var(--fsize-norm);
  margin: 0px auto var(--gap-norm) auto;
  height: 50vh;
}

.video .video-caption a {
  display: block;
  margin: 0px auto var(--gap-norm) auto;
  width: min-content;
}

.video .video-caption a::before {
  content: '©';
}

/*
  video template

  <div class="video">
    <video controls>
      <source src="" type="video/">
    </video>
    <div class="video-caption">
      <a class="anc-ext" href="" target="_blank"></a>
      <a class="anc-ext" href="" target="_blank"></a>
    </div>
  </div>
*/
