<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>template</title>
        <meta name="author" content="tmash">
        <meta name="description" content="template index.html">
        <meta name="theme-color" content="#1e1e1e">
        <meta property="og:title" content="template">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://7m45h.github.io/">
        <meta property="og:image" content="https://7m45h.github.io/shared/images/logo.png">
        <meta property="og:site_name" content="7m45h.github.io">
        <meta property="og:description" content="template index.html">
        <meta property="og:image:alt" content="le logo.png">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="template">
        <meta name="twitter:description" content="template index.html">
        <meta name="twitter:site" content="@7m45h.github.iol">
        <meta name="twitter:image" content="https://7m45h.github.io/shared/images/logo.png">
        <meta name="twitter:image:alt" content="le logo.png">
        <meta name="twitter:creator" content="@tmash">
        <link rel="icon" type="img/png" sizes="420x420" href="/shared/images/logo.png">
        <link rel="stylesheet" type="text/css" href="./assets/main.css">
    </head>
    <body>
        <nav id="nav-main">
            <h1 class="nav-items nav-title">Template</h1>
            <h1 class="nav-items nav-child">About</h1>
            <h1 class="nav-items nav-child">Blog</h1>
            <h1 class="nav-items nav-child">Pages</h1>
            <h1 class="nav-items nav-child">Repos</h1>
        </nav>
        <main id="main-main">
        </main>
    </body>
</html>
