<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>template</title>
        <meta name="author" content="tmash">
        <meta name="description" content="template index.html">
        <meta name="theme-color" content="#1e1e1e">
        <meta property="og:title" content="template">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://7m45h.github.io/">
        <meta property="og:image" content="https://7m45h.github.io/shared/images/logo.png">
        <meta property="og:site_name" content="7m45h.github.io">
        <meta property="og:description" content="template index.html">
        <meta property="og:image:alt" content="le logo.png">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="template">
        <meta name="twitter:description" content="template index.html">
        <meta name="twitter:site" content="@7m45h.github.io">
        <meta name="twitter:image" content="https://7m45h.github.io/shared/images/logo.png">
        <meta name="twitter:image:alt" content="le logo.png">
        <meta name="twitter:creator" content="@tmash">
        <link rel="icon" type="img/png" sizes="420x420" href="/shared/images/logo.png">
        <link rel="stylesheet" type="text/css" href="./assets/main.css">
        <script src="./assets/main.js" defer></script>
    </head>
    <body>
        <nav id="nav-main">
            <div class="div-nav-prnt">
                <a href="/" class="nav-title">template &#8599;</a>
                <div class="nav-child-ctnr">
                    <h1 class="nav-child">contents</h1>
                    <h1 class="nav-child">rand_img</h1>
                    <h1 class="nav-child">home</h1>
                </div>
            </div>
        </nav>
        <main id="main-main">
            <div id="div-rand-img">
                <img src="https://picsum.photos/1920/1080" alt="Random image from awsome site picsum.photos" title="Random image from awsome site picsum.photos" loading="lazy">
                <a href="https://github.com/DMarby/picsum-photos" target="_blank">&#169;picsum.photos  &#8599;</a>
            </div>
            <div id="div-content">
            </div>
            <div id="div-home">
            </div>
        </main>
    </body>
</html>
