@import url("/shared/comman.css");
@import url("/shared/header.css");

#main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.a-movie {
    padding: 1%;
    margin: 1%;
    border: var(--border-size) solid var(--white);
}