@import url("/shared/comman.css");
@import url("/shared/header.css");

#main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 1vh auto;
    width: 90%;
}

.div-movie-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin: 2vh 2vh; 
    border: var(--border-size) solid var(--white);
    height: 6vh;
    aspect-ratio: 8/1;
    font-weight: bolder;
}

.div-movie-name {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 70%;
    height: 80%;
    overflow: hidden;
}

.div-movie-imdb {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: var(--border-size) solid var(--white);
    height: 80%;
    aspect-ratio: 1/1;
}

.div-movie-imdb:hover {
    background: var(--green);
    color: var(--black);
    border-color: var(--green);
    cursor: pointer;
}

.div-movie-imdb:active {
    border-color: var(--background);
}