@import url("/shared/comman.css");
@import url("/shared/header.css");
@import url("/shared/footer.css");

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#div-output {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: calc(var(--header-logo-size) * 2);
}

#output-pass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    height: 90%;
    border: var(--border-normal) var(--white);
}
#output-length, #output-copy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    width: 5%;
    height: 90%;
    border: var(--border-normal) var(--white);
}
