@import url("/shared/styles/comman.css");
@import url("/shared/styles/header.css");
@import url("/shared/styles/footer.css");

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#div-config {
    width: 80%;
}

#div-config > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0px;
}

#div-config > div > label {
    width: 100%;
}

#div-config #input-lenght {
    width: 100%;
    margin: 0px;
}

#div-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: calc(var(--header-logo-size) * 2);
}

#output-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    height: 90%;
    border: var(--border-normal) var(--white);
}
#output-length, #output-gen {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 5%;
    height: 90%;
    border: var(--border-normal) var(--white);
}

#output-gen {
    user-select: none;
    cursor: pointer;
}

#output-gen:active {
    scale: 96%;
}
