@import url("/shared/css/root.css");
@import url("/shared/css/blog.css");

#div-movies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.div-movie-card {
    width: max-content;
    height: max-content;
    margin: 5% 8%;
}


.div-movie-card img {
    display: block;
    width: 240px;
    height: 320px;
    margin: var(--font-norm) auto;
    object-fit: cover;
    border-radius: var(--font-norm);
}

.div-movie-card a {
    display: block;
    font-size: var(--font-norm);
    width: max-content;
    margin: auto;
}
