body {
  display: grid;
  grid-template-rows: var(--fsize-norm) var(--fsize-head-b) repeat(10, 1fr) var(--fsize-head-b) var(--fsize-norm);
  grid-template-columns: var(--fsize-norm) repeat(10, 1fr) var(--fsize-norm);
  margin: 0px;
  width: 100dvw;
  height: 100dvh;
  background: var(--color-bg);
  font-family: "Fira Mono", monospace;
  font-size: var(--fsize-norm);
  font-weight: bold;
  color: var(--color-fg);
}

main {
  grid-row: 3 / 13;
  grid-column: 2 / 12;
  border: var(--border);
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration-thickness: 2px;

  &[target="_blank"]:not(:has(img, span)) {
    text-decoration: none;
    white-space: break-spaces;

    &::after {
      content: ' ↗  ';
    }

    &:hover {
      color: light-dark(var(--color-fg), var(--color-bg));
      background: var(--color-accent);

      &::after {
        content: '    ';
        animation: dial 1s infinite;
      }
    }
  }
}

.border {
  box-sizing: border-box;
  border-collapse: collapse;
}

.bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px var(--fsize-norm);
  height: 100%;
  font-size: var(--fsize-norm);

  .bar-item-item {
    margin: 0px var(--fsize-norm);
  }
}

.square {
  aspect-ratio: 1 / 1;
}

.spacer {
  flex-grow: 1;
}

::selection {
  background: var(--color-fg);
  color: var(--color-bg);
}
