@keyframes dial {
  0% {
    content: '    ';
  }

  25% {
    content: ' .  ';
  }

  50% {
    content: ' .. ';
  }

  75% {
    content: ' ...';
  }
}

:root {
  @media (prefers-color-scheme: light) {
    color-scheme: only light;

    &:has(#theme-switch-btn:checked) {
      color-scheme: only dark;
    }
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: only dark;

    &:has(#theme-switch-btn:checked) {
      color-scheme: only light;
    }
  }

  --c-black: #000000;
  --c-white: #ffffff;

  --color-fg: light-dark(var(--c-black), var(--c-white));
  --color-bg: light-dark(var(--c-white), var(--c-black));

  --fsize-norm: 14px;
  --fsize-head-a: calc(var(--fsize-norm) * 2);
  --fsize-head-b: calc(var(--fsize-norm) * 4);

  --border: 2px solid var(--color-fg);
}
