@keyframes dial {
  0% {
    content: '    ';
  }

  25% {
    content: ' .  ';
  }

  50% {
    content: ' .. ';
  }

  75% {
    content: ' ...';
  }
}

:root {
  --color-fg: #000000;
  --color-bg: #000000;

  --fsize-norm: 14px;
  --fsize-head-a: calc(var(--fsize-norm) * 2);
  --fsize-head-b: calc(var(--fsize-norm) * 4);

  --border: 2px solid var(--color-fg);
}
