@import url("/shared/comman.css");
@import url("/shared/header.css");
@import url("/shared/footer.css");

#div-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 25%;
    aspect-ratio: 16/9;
    margin: 1%;
    border: var(--border-size) solid var(--white);
    border-radius: var(--font-size-normal);
    font-size: var(--font-size-normal);
    background: var(--black);
    transition-property: scale;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

.card:hover {
    scale: 104%;
}
