@import url("/shared/comman.css");
@import url("/shared/header.css");

#main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.menu-card {
    width: 50%;
    height: 20vh;
}