:root {
    --background: #000000;
    --black:      #09090b;
    --red:        #e05252;
    --green:      #43d08a;
    --yellow:     #ebde6b;
    --blue:       #528bff;
    --white:      #abb2bf;
}

body {
    background: var(--background);
}

.no-margin {
    margin: 0;
}

.base-font {
    font-family: monospace;
    font-size: 16px;
}
