:root {
    --background: #000000;
    --black:      #09090b;
    --red:        #e05252;
    --green:      #43d08a;
    --yellow:     #ebde6b;
    --blue:       #528bff;
    --white:      #abb2bf;
    
    --border-size: 2px;
    
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
    color: var(--white);
    background: var(--background);
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--white);
    user-select: none;
}

.no-margin {
    margin: 0;
}

.base-font {
    font-size: 14px;
}

@media (pointer: fine) {
    a:hover {
        cursor: pointer;
        color: var(--green);
    }
}