:root {
    --background: #000000;
    --black:      #09090b;
    --red:        #e05252;
    --green:      #43d08a;
    --yellow:     #ebde6b;
    --blue:       #528bff;
    --white:      #abb2bf;

    --border-normal: 2px solid;
    --font-size-normal: 14px;
    --header-logo-size: 20px;
}

body {
    display: grid;
    grid-template-rows: calc( var(--header-logo-size) * 2 ) auto var(--font-size-normal);
    height: 100vh;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--white);
}

#main {
    grid-row: 2/3;
}

a:hover {
    color: var(--green);
}
