#nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 8vh;
}

#a-home {
    box-sizing: border-box;
    height: 20px;
}

#img-home {
    width: 100%;
    height: 100%;
}

#footer-main {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

@media (pointer: fine) {
    #a-home:hover {
        border: var(--border-size) solid var(--green);
    }   
}