main .main-section {
  flex-direction: unset;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

main .main-section a {
  margin: var(--gap-norm);
}

main .main-section a img {
  object-fit: scale-down;
  width: 240px;
  height: 360px;
}
