#div-img-board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#div-img-board > a {
  width: min-content;
  height: min-content;
  margin: 0.25em;
}

#div-img-board > a > img {
  width: 240px;
  height: 360px;
  object-fit: cover;
  transition: scale 500ms;
}

#div-img-board > a > img:hover {
  scale: 102.5%;
  filter: grayscale(0%);
}

#div-img-board:hover > a > img:not(:hover) {
  filter: grayscale(100%);
}
